@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Light Theme (Default) */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* Dark Theme */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
